<div class="page-wrapper">
    <div class="page-header">
        <button class="page-header__action">Add Item</button>
    </div>
<div class="page-content">

    <table class="content-table">

        <thead class="content-table__header">

            <tr class="content-table__header__row">
                <th>eventId</th>
                <th>animalId</th>
                <th>cowId</th>
                <th>healthIndex</th>
                <th>endDate</th>
                <th>minValueDateTime</th>
                <th>type</th>
                <th>deletable</th>
                <th>lactationNumber</th>
                <th>daysInLactation</th>
                <th>ageInDays</th>
                <th>startDateTime</th>
                <th>reportingDateTime</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody *ngFor=' let item of data' >
            <tr>
                <td>{{item.eventId}}</td>
                <td>{{item.animalId}}</td>
                <td>{{item.cowId}}</td>
                <td>{{item.healthIndex}}</td>
                <td>{{item.endDate}}</td>
                <td>{{item.minValueDateTime}}</td>
                <td>{{item.type}}</td>
                <td>{{item.deletable}}</td>
                <td>{{item.lactationNumber}}</td>
                <td>{{item.daysInLactation}}</td>
                <td>{{item.ageInDays}}</td>
                <td>{{item.startDateTime}}</td>
                <td>{{item.reportingDateTime}}</td>
                <td class="actions">
                    <button >Edit</button>
                    <button (click)="delete(item.eventId)">Del</button>
                </td>
                
            </tr>

        </tbody>

    </table>

    </div>

</div>