<div class="data-grid">

    <table class="table">

        <thead class="table__header">

            <tr class="table__header__row">
                <th class="table__header__row_cell">cowId</th>
                <th class="table__header__row_cell">animalId</th>
                <th class="table__header__row_cell">healthIndex</th>
                <th class="table__header__row_cell">endDate</th>
                <th class="table__header__row_cell">minValueDateTime</th>
                <th class="table__header__row_cell">type</th>
                <th class="table__header__row_cell">eventId</th>
                <th class="table__header__row_cell">deletable</th>
                <th class="table__header__row_cell">lactationNumber</th>
                <th class="table__header__row_cell">daysInLactation</th>
                <th class="table__header__row_cell">ageInDays</th>
                <th class="table__header__row_cell">startDateTime</th>
                <th class="table__header__row_cell">reportingDateTime</th>
            </tr>
        </thead>

        <tbody *ngFor=' let item of data' >

        </tbody>

    </table>

</div>